.navbar {
  height: 10%;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 10px 0 5px 0;
}

.navbar .site-name {
  font-size: 140%;
  color: white;
  display: inline;
}

.navbar .user-icon {
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  height: 50px;
  width: 50px;
}

.navbar-hr {
  width: 85%;
  opacity: 0.1;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .dropdown-content {
  /* display: none; */
  position: absolute;
  background-image: radial-gradient(circle, #4b4747, #3b3736);
  min-width: 160px;
  margin-top: 10px;
  transform: translateX(-80px);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown .dropdown-content .logout-button {
  display: block;
  padding: 5px 30px !important;
  border-radius: 40px !important;
  background-color: #46a528 !important;
  color: white !important;
  font-size: 120% !important;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400 !important;
}

/* .dropdown:hover .dropdown-content {
  display: block;
} */
