.player-container {
  width: 100%;
  padding: 0 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.player-btn-container {
  height: 100%;
}

.btn {
  position: relative;
  width: 40px;
  height: 40px;
  border: white 3px solid;
  border-radius: 50%;
  cursor: pointer;
  transition: border 0.1s ease-in-out;
}

.btn:hover {
  border: #333 3px solid;
}

.btn:hover .bar {
  background-color: #333;
}

.btn .bar {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
  width: 3px;
  height: 20px;
  border-radius: 3px;
  background-color: white;
  transform-origin: center;
  transition: transform 0.4s ease-in-out, background 0.1s ease-in-out;
}

.btn.pause .bar-1 {
  transform: translateX(13.5px) translateY(0px) rotate(0deg);
}

.btn.pause .bar-2 {
  transform: translateX(24px) translateY(0px) rotate(0deg);
}

.btn.play .bar-1 {
  transform: translateX(20px) translateY(-5px) rotate(-55deg);
}

.btn.play .bar-2 {
  transform: translateX(20px) translateY(5px) rotate(-125deg);
}

.player-container .time-container {
  color: white;
  margin: 0 10px;
  display: flex;
  align-items: center;
  text-align: center;
  width: 5%;
}

.player-container .player-range-container {
  display: flex;
  align-items: center;
  width: 40%;
}

.player-container .player-range-container .player-range,
.player-container .player-volume-container .player-volume {
  /* -webkit-appearance: none; */
  width: 100%;
  margin: 0;
  padding: 0;
  height: 3px;
}

.player-container .player-volume-container {
  color: white;
  display: flex;
  align-items: center;
  width: 25%;
}

.player-container .player-volume-container .volume-icon-container {
  width: 20%;
  margin: 0 5px;
  display: flex;
  align-items: center;
}
