.player-wrapper{
    background-image: url('../assets/images/player-background.jpg');
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    overflow:auto;
}

.player-wrapper .inner-wrapper{
    z-index: 2;
    height: 95%;
    width: 95%;
    display: flex;
    justify-content: center;
    margin:auto;
    background-color: black;
    opacity: 0.8;
    color: white;
    overflow:hidden;
}

.player-wrapper .inner-wrapper .left-section {
    min-width: 75%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.player-wrapper .inner-wrapper .right-section {
    min-width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-section .home-button {
    margin-top: 10px;
    cursor: pointer;
    display: inline-block;
    margin-left: 5%;
}

.left-section .music-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 8%;
}

.left-section .music-info .thumbnail {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    min-width: 100px;
    min-height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: -3px;
    left: -3px;
    bottom: -3px;
    right: -3px;
}

.left-section .music-info .artist-name {
    font-size: 150%;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 20px;
}

.left-section .music-info .song-name {
    font-size: 200%;
    font-weight: 500;
}

.left-section .player {
    width: 90%;
    margin: auto;
    margin-top: 5%;
}

.right-section .search-box {
    border:none;
    border-bottom: 2px solid;
    background-color: transparent;
    color: white;
    width: 80%;
    height: 50px;
    font-size: 100%;
}

.right-section .search-box:focus {
    outline: none;
}

.right-section .search-bar .search-button {
    background-color: transparent;
    border: none;
    vertical-align: middle;
}

.right-section .options {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    justify-content: space-around;
    margin-top: 5%;
}

.right-section .lists {
    width: 100%;
}

