@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700&family=Open+Sans:wght@100;200;300;400;500;600;&display=swap');

.wrapper {
  background-image: radial-gradient(circle, #3c3939, #221e1d);
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container .main-section {
  width: 75%;
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
}

.main-section .main-section-left {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid white; */
}

.main-section-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-section-left .homepage-heading {
  color: white;
  font-size: 400%;
  font-weight: 600;
  margin-right: 80px;
  letter-spacing: 0px;
}

.main-section-left .homepage-subheading {
  color: #989391;
  font-size: 150%;
  font-weight: 400;
  margin: 20px 0 30px 0;
}

.main-section-left .signin-button .google-login-button {
  display: block;
  padding: 5px 30px !important;
  border-radius: 40px !important;
  background-color: #46a528 !important;
  color: white !important;
  font-size: 120% !important;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400 !important;
}

.main-section-left .signin-button .google-login-button .google-icon,
.main-section-left .signin-button .google-login-button span {
  vertical-align: middle;
  margin: 0 5px;
  font-weight: 600;
}

 
.main-section .player-button button {
  text-align: center;
  display: block;
  padding: 15px 30px !important;
  border-radius: 40px !important;
  width: 70%;
  background-color: #46a528 !important;
  color: white !important;
  font-size: 120% !important;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 600 !important;
  cursor: pointer;
  border: none;
}

.main-section-right .right-section-container .main-image-container {
  height: 70vh;
  width: 70vh;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background: yellow; */
}

.right-section-popups {
  position: absolute;
  background: #57534fec;
  border-radius: 15px;
  display: flex;
}

.music-details-container {
  width: 350px;
  transform: translate(-80px, 100px);
  padding: 10px;
}

.music-details-container .track-icon {
  margin: 0 5px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.music-details-container .track-info-container {
  margin-left: 10px;
  color: #1b1b1b;
}

.music-details-container .track-info-container .now-playing {
  display: block;
  color: white;
  font-size: 90%;
  font-weight: 500;
  margin-bottom: 10px;
}

.music-details-container .track-info-container .track-name {
  display: block;
  font-size: 100%;
}

.music-details-container .track-info-container .artist-name {
  display: block;
  font-size: 75%;
}

.music-player-container {
  width: 500px;
  transform: translate(180px, -150px);
  padding: 10px;
}
